#productCarousel {
    width: 100%;
    max-width: 100%;
    }

  #productCarousel .carousel-inner {
     position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-top: 56.25%;
  }
  #productCarousel .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  #productCarousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .navbar-nav .nav-link:hover {
background-color:	#20b2aa; 
box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1); 
}

.star-rating {
    color: #FFD700; 
  }

 
  .star-rating i {
    transition: color 0.3s ease;
  }
  
  .page-content {
    display: none;
  }

  .active-content {
    display: block;
  }

  
  #contact {
    background-color: #fff;
    padding: 50px 0;
  }

  #contact h2 {
    color: #343a40;
  }

  .contact-form {
    margin-top: 30px;
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  #login {
    
    padding: 50px 0;
   
  }

  #login h2 {
    color: #343a40;
  }

  .login-form {
    max-width: 400px;
   margin: 0 auto;
  }
  
  #about h1,h2,h3{
      font-weight: bold;
  }
  #contact h4,label{
color:aqua;
font-weight:bold;
  }
  #contact h2{
      color:purple;
      font-weight:bold;
  }
 #about p{
    font-weight: bold;
    margin-bottom: 20px;
 }
 #about img {
    
    border-radius: 50%;
    width:300px;
    height:300px;
    margin-left: 20px;
    
  }
#about{
    background-color: #f8f9fa;
            padding:50px 0;
}
#about h3 {
    margin-bottom: 20px;
}